@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Inter font as default for whole page */
@layer base {
  html {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    width: 100vw;   /* full viewport width */
    overflow-x: hidden; /* avoid horizontal scroll */
  }

  body {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  /* Remove spinner from number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Smooth scrolling for all scrollable elements */
* {
  scroll-behavior: smooth;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}